@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Define keyframes for a subtle gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Base CSS for the body */
body {
  margin: auto;
  max-width: 1440px;
  position: relative;
  background: linear-gradient(to bottom right, #b7afbf, #686c6e);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}
